.container {
  display: flex;
  justify-content: space-around;
  background: darkgrey;
  height: 80px;
  align-items: center;
  font-size: 50px;
}

a{
  text-decoration: none;
  color: white;
}

.active {
  color: black;
}
